@import "../partials/variables";

.contactWrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  .text {
    text-align: center;
    margin-bottom: 1rem;
    font-weight: $lightWeight;
  }
}

@media screen and (max-width: 768px) {
  .contactWrapper {
    width: auto;
    margin-left: $outerMargin / 2;
    margin-right: $outerMargin / 2;
  }

  .title {
    font-size: 32px;
  }

  .text {
    font-size: $defaultFontSize - 2px;
  }
}
