@import "../partials/variables";

.skillsPage {
  .prompt {
    margin-top: 2rem;
    font-weight: $lightWeight;
    font-style: italic;
  }
}

.skillsList {
  ul {
    margin-top: 2rem;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
  }
}
