@import "../variables.scss";

.button {
  color: $neutralLight;
  background-color: transparent;
  border: 1px solid $neutralLight;
  width: 125px;
  height: auto;
  border-width: 2px;
  border-radius: 5px;

  a:hover,
  p:hover {
    background-color: $neutralLight;
    color: $neutralDark;
    cursor: pointer;
  }

  a,
  p {
    display: block;
    text-decoration: none;
    color: $neutralLight;
    font-size: $defaultFontSize;
    padding: 10px 30px;
  }
}
