@import "../partials/variables";

.footer {
  position: fixed;
  bottom: $outerMargin;
  left: $outerMargin;
  right: $outerMargin;

  display: flex;
  justify-content: space-between;
}

.socials {
  display: flex;
  gap: 1rem;
  align-items: center;

  p {
    width: 125px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.scrollDown {
  display: flex;
  cursor: pointer;
  background-color: transparent;
  position: relative;
  flex-direction: column;
  align-items: center;
  max-width: 20px;
  min-height: 100px;
}

.scrollText {
  display: block;
  transform: rotate(-90deg);
  min-width: 100px;
  font-size: 13px;
  opacity: 0.75;
  letter-spacing: 1px;
  position: relative;
  top: $outerMargin - 25px;
}

.scrollArrow {
  transform: rotate(90deg);
  opacity: 0.75;
  position: relative;
  top: $outerMargin + 25px;
  width: 24px;
  height: 24px;
}
