.headerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: $outerMargin;
  left: $outerMargin;
  right: $outerMargin;
}
