@import "../partials/variables";

.logo {
  display: block;
  width: fit-content;
  font-style: italic;
  font-weight: $mediumWeight;
  font-size: $defaultFontSize * 2 - 4px;
  span {
    color: $secondaryAccentColor;
  }
}

@media screen and (max-width: $mediaMobile) {
  .logo {
    font-size: $defaultFontSize * 2 - 6px;
  }
}
