@import "../partials/variables";

.modalWrapper {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: $primaryAccentColor;
  color: $neutralLight;
  width: 50%;
  min-width: 250px;
  max-width: 500px;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgba($primaryAccentColor, 0.5);
  position: relative;

  .closeIcon {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }

  button {
    align-self: flex-end;
  }
}
