// Colors
$neutralDark: #19233a;
$neutralLight: #f0f8ff;
$primaryAccentColor: #986dfb;
$secondaryAccentColor: #14d9b2;

// Typography
$defaultFontSize: 18px;
$mediumWeight: 500;
$normalWeight: 400;
$lightWeight: 300;

// Outer margin of the page
$outerMargin: 40px;
