*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  box-shadow: inset 0 0 200px rgba(0, 0, 0, 0.5);
}

.marginWrapper {
  height: calc(100vh - $outerMargin * 2);
  width: calc(100vw - $outerMargin * 2);
  margin: $outerMargin;
}

body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-color: $neutralDark;
  color: $neutralLight;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
