body {
  font-size: $defaultFontSize;
  font-weight: $normalWeight;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $mediumWeight;
}

a {
  text-decoration: none;
  color: $primaryAccentColor;
}

input {
  font-weight: $lightWeight;
  font-size: $defaultFontSize - 2px;
}
